
pandas
pytest
openpyxl
psycopg2-binary
pendulum
decorator
password
bcrypt
statsd
pymssql
python-json-logger
beautifulsoup4
requests
selenium
apache-airflow-providers-airbyte
apache-airflow-providers-smtp
apache-airflow-providers-http
apache-airflow-providers-postgres
